
<div>Article Title</div>

<div>Author(s)</div>
<div>
    <app-author *ngFor="let author of authors" [author]="author"></app-author>
    <button (click)="addAuthor()">+</button>
</div>

<div>Journal Title</div>
<input [(ngModel)]="title">

<div>From page</div>
<input [ngModel]="fromPage">
<div>To page</div>
<input [ngModel]="toPage">
<div>Volume</div>
<input [ngModel]="volume">
<div>Issue</div>
<input [ngModel]="issue">

<div>Publication date:</div>
<div>Year</div>
<input [ngModel]="year">

<div>DOI or URL</div>

<div>DOI</div>
<input [ngModel]="doi">
<div>URL</div>
<input [ngModel]="url">

<div>Publication status</div>
<!--TODO bind this to isInPress-->
<div>APA Citation:</div>
{{citation}}
